# Create a .env.development and a .env.production file
# with the following keys.
# Do NOT check these files into source control
CONTENTFUL_SPACE_ID="0e5rbksub4rq"
CONTENTFUL_ACCESS_TOKEN="W3jwzzM1CkZuzZY1WVqBq0c3ksF-hMXMi838q6ficyc"
contentapi ="CFPAT-FMr0Rl28GRg0eru0U44_KEfS5CcvFbM3lq_1m4fApuQ"